@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap'); 

*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

body {
    background-color: #d9d9d9;
    width : 100%;
    font-size : 16px;
    font-family : 'Nanum Gothic', sans-serif;
}

.login-container {
    display: flex;
    justify-content :center;
    align-items:center;
    height : 100vh;
}

.login-container-box {
    width:30%;
    padding : 10px 50px;
    height : 350px;
    border-radius : 7px;
    background-color: #fff;

    }

.login-container-box-top {
    width : 100%;
}

.form-group input{
    height:50px;
    font-size: 23px;
}
.form-group input[type = "text"],
.form-group input[type = "password"]{
    background-color: #d9d9d9;
    border : none;
}

.login-container-box-bottom {
    font-size: 15px;
}

.login-container-box-bottom-left {
    color : gray;
    opacity: 0.7;
    margin-right: 10px;
}

.login-container-box-bottom-right {
    font-weight: 600;
    color:#137ea7;
}

.form-control {
    box-shadow : none;
}




.login-container-box-bottom-right {
    font-weight: 600;
    color:#137ea7;
}


@media (max-width:1200px){
    .login-container-box {
        width:60%;
        padding : 10px 50px;
        height : 350px;
        border-radius : 7px;
        background-color: #fff;
    
        }
}

@media (max-width:576px){
    .login-container-box {
        width:80%;
        padding : 10px 20px;
        height : 350px;
        border-radius : 7px;
        background-color: #fff;
    
        }
        .login-container-box-top{
            margin-bottom:20px;
        }
        .login-container-box-bottom {
           
            display:flex;
            flex-direction:column;
        }
}


@media (max-width:320px){
    .login-container-box {
        width:80%;
        padding : 10px 20px;
        height : 350px;
        border-radius : 7px;
        background-color: #fff;
    
        }

        .form-group input{
            height:50px;
            font-size: 13px;

        }

        .login-container-box-bottom {
            font-size: 8px;
            display:flex;
            flex-direction:column;
        }
}