<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.loginMapper">

	<!--  아이디 중복체크 -->
  <select id = "nameCheck" resultType = "integer">
       select count(*) from t_member 
       where emp_no = #{emp_no}
   </select>
   
   <!-- 제품 정보 추가하기 -->
    <insert id="joinRegister" parameterType="kr.smhrd.entity.MemberVO">
        INSERT INTO t_member (emp_no, pw, name, position, dept)
		VALUES (#{emp_no}, #{pw}, #{name}, #{position}, #{dept});
    </insert>
  
    
    <!--  로그인 -->
     <select id = "loginCheck" resultType ="kr.smhrd.entity.MemberVO" parameterType = "kr.smhrd.entity.MemberVO">
       select *
       from t_member 
       where emp_no = #{emp_no} and pw = #{pw}
   </select>
    
  </mapper>