<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.ReleaseMapper">
    
    <!-- 출고 목록 가져오기 위한 정보 -->
    <select id="releaseList" resultType="kr.smhrd.entity.ReleaseVO">
        select r.r_seq, r.prod_code, r.r_date, r.r_cnt, r.order_seq, r.prod_rack, m.name
        from t_release r, t_member m
        where r.emp_no = m.emp_no
        order by r.r_seq desc
    </select>
    
    <!-- 출고 담당자 이름 중복없이 가져오기 -->
    <select id="releaseNameList" resultType="String">
        select distinct m.name
        from t_release r, t_member m
        where r.emp_no = m.emp_no
    </select>
    
    <!-- 출고 제품 코드 중복없이 가져오기 -->
    <select id="releaseProd_codeList" resultType="String">
        select distinct prod_code
        from t_release 
    </select>
    
    <!-- 주문 순번 중복없이 가져오기 -->
    <select id="releaseOrder_seqList" resultType="String">
        select distinct order_seq
        from t_release
    </select>
    
    <!-- 검색 내용 가져오기(조건 부분 쿼리 통째로 삽입) -->
    <select id="searchReleaseList" parameterType="String" resultType="kr.smhrd.entity.ReleaseVO">
        select r.r_seq, r.prod_code, r.r_date, r.r_cnt, r.order_seq, r.prod_rack, m.name
        from t_release r, t_member m
        where r.emp_no = m.emp_no
        ${releaseQuery}
        order by r.r_seq desc
    </select>
    
    <!-- 출고 정보 추가하기 -->
    <insert id="insertReleaseList" parameterType="kr.smhrd.entity.ReleaseVO">
        insert into t_release(prod_code, r_cnt, order_seq, r_date, emp_no, prod_rack)
        values (#{prod_code}, #{r_cnt}, #{order_seq}, ${r_date}, #{emp_no},
        		<!-- 제품 코드에 따른 제품 보관 장소를 저장해야 하므로 -->
        		(select distinct p.prod_rack
        		from t_product p, t_order_detail d
        		where p.prod_code = d.prod_code
        		and d.prod_code = #{prod_code}))
    </insert>
    
    <!-- 출고 정보 삭제하기 -->
    <delete id="deleteReleaseList" parameterType="kr.smhrd.entity.ReleaseVO">
        delete from t_release
        where r_seq = #{r_seq}
    </delete>
    
    <!-- 주문, 주문 상세 테이블에서 제품 코드 중복없이 가져오기 -->
    <select id="releaseProd_codePlusList" resultType="String">
        select distinct prod_code
        from t_order_detail
    </select>
    
    <!-- 주문, 주문 상세 테이블에서 주문 순번 중복없이 가져오기 -->
    <select id="releasePlusOrder_seqList" resultType="String">
        select distinct order_seq
        from t_order
    </select>
    
    <!-- 주문, 주문 상세 테이블에서 제품 보관 장소 중복없이 가져오기 -->
    <select id="releasePlusProd_rackList" resultType="String">
        select distinct p.prod_rack
        from t_order_detail d, t_product p
        where d.prod_code = p.prod_code
    </select>
    
    <!-- 주문 순번에 따른 제품 코드 검색 -->
    <select id="prod_codeChangeList" resultType="String">
        select distinct prod_code
        from t_order_detail
        where order_seq = #{order_seq}
    </select>
    
    <!-- 제품 코드에 따른 주문 순번 검색 -->
    <select id="order_seqChangeList" resultType="String">
        select distinct order_seq
        from t_order_detail
        where prod_code = #{prod_code}
    </select>
    
    <!-- 차트에 필요한 정보 가져오기 -->
    <select id="releaseChartData" resultType="kr.smhrd.entity.ReleaseVO">
        select prod_code, sum(r_cnt) r_cnt
        from t_release
        group by prod_code
        order by r_cnt desc
    </select>
    
    <!-- 상위 n개 차트 정보 가져오기 -->
    <select id="releaseTopData" resultType="kr.smhrd.entity.ReleaseVO">
        select prod_code, sum(r_cnt) r_cnt
        from t_release
        group by prod_code
        order by r_cnt desc
        limit 5
    </select>
    
    <!-- 하위 n개 차트 정보 가져오기 -->
    <select id="releaseBottomData" resultType="kr.smhrd.entity.ReleaseVO">
        select prod_code, sum(r_cnt) r_cnt
        from t_release
        group by prod_code
        order by r_cnt
        limit 5
    </select>
    
</mapper>